* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    justify-content: space-between;
    display: flex;
    padding: 10px 15px;
    background-color:  gray;
    border-radius: 40px;
}

.Logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
}
nav ul{
display: flex;
padding: 10px;


}

nav li a{
    color: white;
    text-decoration: none;
}

.menu  {
background-color:none;
border: none;
cursor: pointer;
color:black;
font-size: 30px;
display: none;

}
nav ul li{
margin: 0 20px


}
nav ul li {
color: black;
font-size: 40px;
text-decoration: none;
cursor: pointer;
}

.menu{
display: block;


}